* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.flex-container {
    justify-content: center;
    text-align: center;
    flex: 0 0 135px;
    border-style: solid;
    padding-top: 20px;
    font-size: 64px;
    min-height: 97px;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 135px;
    max-width: 135px;
}
.flex-container:hover {
    background-color: slategray;
    cursor: pointer;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 512px;
    box-shadow: 5px 20px 25px lightgrey, -5px 20px 25px lightgrey;
    padding: 3% 0 3% 0;
    background-color: slategray;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#master-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    width: 512px;
    min-height: 10000px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 20px 25px lightgrey, -5px 20px 25px lightgrey;
}
#break {
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: block;
    clear: both;
    width: 100%;
}
#turnDisplay {
    font-size: 150%;
}
button {
    padding:10px;
    border-style: none;
}

button:hover {
    background-color: slategray;
    color: white;
    cursor: pointer;
}

#box1 {
    border-left: none;
    border-top: none;
}
#box2 {
    border-top: none;
}
#box3 {
    border-right: none;
    border-top: none;
}
#box4 {
    border-left: none;
}
#box5 {

}
#box6 {
    border-right: none;
}
#box7 {
    border-left: none;
    border-bottom: none;
}
#box8 {
    border-bottom: none;
}
#box9 {
    border-right: none;
    border-bottom: none;
}
